<head>
  <title>twitterClone</title>
</head>

<body>
  <nav class="navbar navbar-default nav">
    <div class="container-fluid">
        <a class="link1" href="#">Home</a>
        <a class="navbar-brand" href="#"><img src="twitterLogo.png" alt="Brand" class="logo" /></a>
        <a class="link2" href="https://github.com/DavidGuben/TwitterCloneMeteor/tree/develop" target="_blank" >Github</a>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-3 col-xs-3 Center">
      {{> userManagement}}
      {{#if currentUser}}
      {{> profilePic}}
      {{> followUsers}}
      {{/if}}
    </div>
    <div class="col-md-9 col-xs-9">
      {{#if currentUser}}
      {{> tweetBox}}
      {{> tweetFeed}}
      {{/if}}
    </div>
  </div>
</body>
