<template name="userManagement">
  <div class="user-container effect2">
    <div class="panel fix-panel">
      <div class="panel-body">
        {{# if currentUser}}
        <!-- Message for logged in user -->
        <p>Hello <strong>@{{currentUser.username}}</strong>, welcome to a twitterClone</p>
        <button type="button" class="btn btn-info fullbutton" id="logout">Log out</button>
        <table class="table">
          <tr>
            <td class="tableHeader">Tweets</td>
            <td class="tableHeader">Following</td>
            <td class="tableHeader">Followers</td>
          </tr>
          <tr>
            <td class="tableContent">{{tweets}}</td>
            <td class="tableContent">{{following}}</td>
            <td class="tableContent">{{followers}}</td>
          </tr>
        </table>

        {{else}}
        <!-- Log in module -->
        <div class="panel-primary">
          <h4>Login</h4>
        </div>
        <div class="form-group">
          <input class="form-control" id="login-username" placeholder="Username">
          <div class="input-group">
            <input class="form-control" id="login-password" placeholder="Password" type="password">
              <span class="input-group-btn">
                <span class="glyphicon glyphicon-ok check" aria-hidden="true"></span><button class="btn btn-primary button fill-input" type="button" id="login">Log in</button>
              </span>
          </div><!-- /input-group -->
        </div>

        <!-- Sign up module -->
        <h4>Create Account</h4>
        <div class="form-group">
          <input class="form-control" id="signup-username" placeholder="Username">
          <div class="input-group">
            <input class="form-control" id="signup-password" placeholder="Password" type="password">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary grow button" id="signup">Sign up</button>
              </span>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
