body {
  background-color:#fe7055;
}

.logo {
  position: relative;
  left: 750px;
  width: 100px;
  height: 80px;
}

.nav {
  height: 105px;
}

.link1 {
  position: relative;
  top: 45px;
  left: 595px;
}

.link2 {
  position: relative;
  top: 45px;
  left: 700px;
}

.Center {
  float: none;
  margin: 0 auto;
}

input {
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 10px;
}
